@import url('https://googleapis.com');

body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.nota {
    display: flex;
    align-items: top;
    width: 200px;
    height: 200px;
    background-color: lightgoldenrodyellow;
    margin: 10px;
    position: fixed;
    top: 10%;
    left: 80%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.nota p {
    margin: 10px;
    font-size: 20px;
    font-family: 'Caveat', cursive;
}
.fordada {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: lightgrey;
    margin: 10px;
    position: fixed;
    top: 35%;
    left: 70%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.led {
    width: 30px;
    height: 30px;
    background-color: #001a00;
    border-radius: 50%;
    position: fixed;
    top: 77%;
    left: 82%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.led.ligado {
    background-color: #00ff00;
    box-shadow: 0 0 15px #00ff00, 0 0 25px #00ff00;
}

.buton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: lightgrey;
    margin: 10px;
    position: fixed;
    top: 80%;
    left: 80%;
    border-style: groove;
    border-width: 2px;
    border-color: gray;
    cursor: pointer;
    transition: 0.1s;
}
.buton:active {
    transform: scale(0.95);
}

.monitor {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 1100px;
    height: 800px;
    background-color: black;
    position: fixed;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    margin: 0;
    border-style: ridge;
    transition: all 0.3s ease;
}
.monitor h1 {
    color: green;
    margin: 0;
    font-size: 24px;
}

.audio1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 50px;
    background-color: black;
    margin: 10px;
    position: fixed;
    top: 90%;
    left: 50%;
}
.audio2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 50px;
    background-color: black;
    margin: 10px;
    position: fixed;
    top: 90%;
    left: 51%;
}
.audio3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 50px;
    background-color: black;
    margin: 10px;
    position: fixed;
    top: 90%;
    left: 52%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: lightgrey;
    margin: 10px;
    position: fixed;
    top: 90%;
    left: 5%;
}
.logo h1 {
    color: grey;
    margin: 0;
}